<h3 id="coverage-current-url">
  Currently auditing:

  <small>
    <%= link_to url, target: '_blank' do %>
        <%= url_without_scheme_host_port( url ) %>
        <i class="fa fa-external-link"></i>
    <% end %>
  </small>
</h3>
