<div id="dashboard">
    <div class="row">
        <div class="col-md-9">
            <h1>Dashboard</h1>
        </div>

        <div class="col-md-3">
            <% @issue_count_by_severity.each do |severity, count| %>
                <a href="#" class="btn-severity btn-lg btn-severity-<%= severity %>">
                    <%= count %>
                </a>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Scans</h2>

            Notifications...
        </div>

        <div class="col-md-6">
            <h2>Issues</h2>

            Notifications...
        </div>
    </div>
</div>
