<% if !(description = Profile.description_for( attribute )).to_s.empty? %>
<p class="text text-muted">
    <%= description %>
</p>
<% end %>

<% if !(notice = Profile.notice_for( attribute )).to_s.empty? %>
    <p class="text text-muted alert alert-info">
        <%= notice %>
    </p>
<% end %>

<% if !(warning = Profile.warning_for( attribute )).to_s.empty? %>
    <p class="text text-muted alert alert-warning">
        <%= warning %>
    </p>
<% end %>
