<%
    title "Editing #{@profile.name}"
    breadcrumb_add 'Profiles', profiles_path
%>

<h1>Editing profile</h1>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
</div>
