<%
    title 'Edit'
    breadcrumb_add 'Profiles', profiles_path
    breadcrumb_add @profile, profile_path(@profile)
%>

<h1>
    Editing <%= link_to @profile, profile_path(@profile) %> profile
</h1>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
</div>
