<%
    title "Editing #{@profile.name}"
    breadcrumb_add 'Profiles', profiles_path
%>

<h1>Editing profile</h1>

<div class="row">
    <div class="col-md-2">
        <%= render partial: 'sidebar' %>
    </div>
    <div class="col-md-10">
        <%= render 'form' %>
    </div>
</div>
