<% content_for(:action_cable_channel, 'ProfileChannel') %>

<% title 'Profiles' %>

<div class="page-header">
    <h1>
        Profiles

        <%= link_to new_profile_path, title: 'New scan',
                    class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-plus"></i>
        <% end %>

        <a href="#profile-import" title="Import"
           role="button" class="btn btn-sm btn-inverse" data-toggle="modal">
            <i class="fa fa-upload"></i>
        </a>
    </h1>

    <p class="lead">
        Maintain and (re-)use scan configuration profiles to make your job easier.
    </p>

    <p class="alert alert-help">
        <i class="fa fa-info-circle"></i>

        Once a profile has been used for a scan it will no longer be editable.
    </p>
</div>

<%= render partial: '/shared/profile_import', locals: {
        type: 'profile',
        import_url: import_profiles_url
} %>

<div id="profiles-table">
    <%= render partial: 'table' %>
</div>
