<%
    title params[:action] == 'copy' ? "Copying #{@profile.name}" : 'New'
    breadcrumb_add 'Profiles', profiles_path
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<h1>New profile</h1>

<div class="row">
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
</div>
