<h1>New profile</h1>

<div class="row">
    <div class="col-md-2">
        <%=
render partial: 'sidebar', locals: {
        sections: {
            scope: 'Scope <small>&mdash; Rules about which resources to include</small>',
            audit: 'Audit <small>&mdash; Fuzzing settings</small>',
            inputs: 'Input values <small>&mdash; Sample values for inputs</small>',
            http: 'HTTP <small>&mdash; Network settings</small>',
            platforms: 'Platforms<small>&mdash; Applicable platforms</small>',
            checks: 'Checks <small>&mdash; Security checks</small>',
            plugins: 'Plugins <small>&mdash; Extra functionality</small>',
            browser_cluster: 'Browser <small>&mdash; Browser-related settings</small>',
            session: 'Session <small>&mdash; Session settings</small>'
        }
    }
        %>
    </div>
    <div class="col-md-10">
        <%= render 'form' %>
    </div>
</div>
