<div class="row">
    <div id="bars">
        <div class="col-md-12">
            <h2>
                Issues

                <small>
                    by type and severity
                </small>
            </h2>

            <p class="text-muted">
                (Click on the bars or line points for details on the relevant issues.)
            </p>

            <div id='chart-issues'>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="pies">
        <div class="col-md-6">
            <h2>
                Severities

                <small>of issues based on possible impact</small>
            </h2>

            <p class="text-muted">
                (Click to see relevant issues.)
            </p>

            <div id="chart-severities">
            </div>
        </div>

        <div class="col-md-6">
            <h2>
                Elements
                <small>with issues, by type</small>
            </h2>

            <p>&nbsp;</p>
            <div id="chart-elements">
            </div>
        </div>
    </div>
</div>
