<p class="alert alert-info">
    Hover over chart areas to highlight relevant data, click to filter.
</p>

<div class="row">
    <div id="bars">
        <div class="col-md-12">
            <h2>
                Issues

                <small>by type and severity</small>
            </h2>

            <div id='chart-issues'>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="pies">
        <div class="col-md-4">
            <h2>
                Resources

                <small>with and without issues</small>
            </h2>

            <div id="chart-resources">
            </div>
        </div>

        <div class="col-md-4">
            <h2>
                Severities

                <small>of issues</small>
            </h2>

            <div id="chart-severities">
            </div>
        </div>

        <div class="col-md-4">
            <h2>
                Elements

                <small>with issues</small>
            </h2>

            <div id="chart-elements">
            </div>
        </div>
    </div>
</div>
