<% if submit %>
    <button class="btn btn-default btn-primary"
            onclick="$('.user_agent-form').submit()">

        <%= @user_agent.id ? 'Update' : 'Create' %>
    </button>
<% else %>
    <%= render 'actions', user_agent: @user_agent %>
<% end %>

<hr/>

<% if @user_agent %>
    <%= render partial: 'shared/sidebar_scans',
               locals: {
                       scans:      @user_agent.scans,
                       with_site:  true,
                       with_count: true
               } %>
<% end %>
