<%
   title params[:action].capitalize
   breadcrumb_add 'User agents', user_agents_path

   if params[:action] == 'copy'
       breadcrumb_add @user_agent.name, user_agent_path( params[:id] )
   end
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar', locals: { submit: true } %>
<% end %>

<h1>New user agent</h1>

<%= render 'form' %>
