<%= simple_form_for( [@site, @scan, @revision, @issue], remote: true ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :state,
                    as:            :select,
                    collection:    Issue::STATES,
                    default:       Issue::DEFAULT_STATES,
                    label_method:  proc { |v| ("#{issue_state_to_unicode v} " + v.humanize).html_safe },
                    include_blank: false,
                    label:         false,
                    input_html:    { autocomplete: 'off' }
        %>
    </div>

<% end %>
