<% if issue.active? && issue.vector.inputs.any? %>
    <p>
        In order to reproduce the issue please submit the
        <a href="#!/input_vector">input vector</a> with the following values:

        <%= render '/shared/hash',
                   object: issue.vector.inputs,
                   highlight: issue.vector.affected_input_name,
                   code: true
        %>
    </p>

<% end %>

<% if issue.page.dom.transitions.any? %>
    <p>
        This issue requires a series of browser-based interface interactions
        in order to bring the page to a vulnerable state:
    </p>

    <%= render 'issues/advanced/page/transitions',
               page: issue.page,
               id:   'reproduction' %>
<% end %>

<% if issue.active? %>
    <% if issue.page.dom.execution_flow_sinks.empty? && issue.active? &&
        !issue.vector.kind.to_s.end_with?( 'dom' ) && issue.vector.inputs.any? %>

        <pre class="highlight-container code-container"><%= highlight_http_request( issue.page.request.to_s, issue, issue.vector.seed ) || issue.page.request %></pre>
    <% end %>
<% elsif issue.page.dom.transitions.empty? %>
    <pre class="highlight-container code-container"><%= highlight_http_request( issue.page.request.to_s, issue, '' ) || issue.page.request%></pre>
<% end %>
