<%
   sections = {
       remedy_guidance: 'Remediation guidance'
   }

   if @issue.vector.seed || @issue.signature || @issue.proof ||
        @issue.remarks.any? || @issue.platform

       sections.merge!(
           identification:  'Identification'
       )
   end

   sections.merge!(
       input_vector:    'Input vector',
       affected_page:   'Affected page'
   )

   if @issue.page.dom.transitions.any?
       sections.merge!(
           affected_page_transitions: '&mdash; Transitions',
       )
   end

   if @issue.page.dom.data_flow_sinks.any?
       sections.merge!(
           affected_page_data_flow: '&mdash; Data-flow',
       )
   end

   if @issue.page.dom.execution_flow_sinks.any?
       sections.merge!(
           affected_page_execution_flow: '&mdash; Execution-flow',
       )
   end

   if !@issue.page.request.to_s.empty? || !@issue.page.response.to_s.empty?
       sections.merge!(
           affected_page_http: '&mdash; HTTP data',
       )
   end

   sections.merge!(
       referring_page: 'Referring page',
   )

   if @issue.referring_page.dom.transitions.any?
       sections.merge!(
           referring_page_transitions: '&mdash; Transitions',
       )
   end

   if @issue.referring_page.dom.data_flow_sinks.any?
       sections.merge!(
           referring_page_data_flow: '&mdash; Data-flow',
       )
   end

   if @issue.referring_page.dom.execution_flow_sinks.any?
       sections.merge!(
           referring_page_execution_flow: '&mdash; Execution-flow',
       )
   end

   if !@issue.referring_page.request.to_s.empty? ||
           !@issue.referring_page.response.to_s.empty?

       sections.merge!(
               referring_page_http: '&mdash; HTTP data',
       )
   end
%>

<div id="sidebar-container" class="affix">
    <ul id="sidebar" class="nav nav-pills nav-stacked sidenav">
        <li>
            <a href="#top" class="scroll">
                <i class="fa fa-chevron-up"></i>
                Top
            </a>
        </li>
        <% sections.each do |id, title| %>
            <li>
                <a href="#<%= id.to_s %>" class="scroll">
                    <%= title.to_s.html_safe %>
                </a>
            </li>
        <% end %>
    </ul>
</div>
