<%
   title @issue.to_s.html_safe
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @issue.site.url, site_path( @issue.site )
   breadcrumb_add @issue.scan.name, site_scan_path( @issue.site, @issue.scan )
   breadcrumb_add @issue.revision, site_scan_revision_path( @issue.site, @issue.scan, @issue.revision )
%>

<div id="issues">
    <div id="sidebar" class="col-md-2">
        <%= render partial: 'sidebar' %>
    </div>
    <div class="col-md-10">
        <%= render @issue %>
    </div>
</div>
