<%
   title @issue.to_s.html_safe
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
   breadcrumb_add @scan.name, site_scan_path( @site, @scan )
   breadcrumb_add @revision, site_scan_revision_path( @site, @scan, @revision )
%>

<div id="issues">
    <div id="sidebar" class="col-md-2">
        <%= render partial: 'sidebar' %>
    </div>
    <div class="col-md-10">
        <%= render @issue %>
    </div>
</div>
