<div class="modal fade" id="site_profile-submit-and-apply-confirm" tabindex="-1"
     role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Apply to active scans?
                </h4>
            </div>

            <div class="modal-body">
                Due to the possibility of changes affecting the scan scope,
                active revisions may be split in 2; the active revision will
                receive a status of <code>rescoped</code> and the new one will
                handle the rest of the scan.

                <br/>

                This will only be applied when necessary.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">
                    Close
                </button>

                <button type="button" class="btn btn-primary"
                        id="site_profile-submit-and-apply">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
