<%
   sections = {
        scans:     'Scans <small>&mdash; Scan settings</small>',
        audit:     'Audit <small>&mdash; Audit settings</small>',
        platforms: 'Platforms<small>&mdash; Information about the software stack</small>',
        scope:     'Scope <small>&mdash; Special handling of resources</small>',
        inputs:    'Inputs <small>&mdash; Custom inputs and fill-in values</small>',
        http:      'HTTP <small>&mdash; HTTP settings</small>',
        browser:   'Browser <small>&mdash; Browser settings</small>'
}
%>

<button class="btn btn-default btn-primary" id="site_profile-submit">
    Save
</button>

<% if @site.revisions.active.any? %>
    <span data-toggle="tooltip" title="Save and apply to active scans.">
        <button class="btn btn-default btn-warning" data-toggle="modal"
                data-target="#site_profile-submit-and-apply-confirm">
            Save and apply
        </button>
    </span>
<% end %>

<hr/>

<div id="scrollspy-container">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#top" class="scroll">
                <i class="fa fa-chevron-up"></i>
                Top
            </a>
        </li>
        <% sections.each do |id, title| %>
            <li>
                <a href="#<%= id.to_s %>" class="scroll">
                    <%= title.to_s.html_safe %>
                </a>
            </li>
        <% end %>
    </ul>
</div>
