<%
   sections = {
        platforms: 'Platforms<small>&mdash; Information about the software stack</small>',
        scope:     'Scope <small>&mdash; Special handling of resources</small>',
        inputs:    'Inputs <small>&mdash; Custom inputs and fill-in values</small>',
        http:      'HTTP <small>&mdash; HTTP settings</small>',
        browser:   'Browser <small>&mdash; Browser settings</small>'
}
%>

<div id="sidebar-container">
    <ul id="sidebar" class="affix nav nav-pills nav-stacked sidenav">
        <li>
            <button class="btn btn-default btn-primary" onclick="$('.profile-form').submit()">
                Save
            </button>
        </li>

        <li>
            <a href="#top" class="scroll">
                <i class="fa fa-chevron-up"></i>
                Top
            </a>
        </li>
        <% sections.each do |id, title| %>
            <li>
                <a href="#<%= id.to_s %>" class="scroll">
                    <%= title.to_s.html_safe %>
                </a>
            </li>
        <% end %>
    </ul>
</div>
