<% if submit %>
    <button class="btn btn-primary mb-2"
            onclick="$('.device-form').submit()">

        <%= @device.id ? 'Update' : 'Create' %>
    </button>
<% else %>
    <div class="row mb-2">
        <div class="col-auto">
            <%= render 'actions', device: @device %>
        </div>
    </div>
<% end %>

<hr/>

<% if @device %>
    <%= render partial: 'shared/sidebar_scans',
               locals: {
                       scans:      @scans,
                       with_site:  true,
                       with_count: true
               } %>
<% end %>
