<% if submit %>
    <button class="btn btn-light btn-primary"
            onclick="$('.device-form').submit()">

        <%= @device.id ? 'Update' : 'Create' %>
    </button>
<% else %>
    <div class="row d-block mb-2">
        <%= render 'actions', device: @device %>
    </div>
<% end %>

<hr/>

<% if @device %>
    <%= render partial: 'shared/sidebar_scans',
               locals: {
                       scans:      @scans,
                       with_site:  true,
                       with_count: true
               } %>
<% end %>
