<table id="table" class="table table-hover table-striped table-sm">
    <thead>
    <tr>
        <th>Default</th>
        <th>Name</th>
        <th>Identification</th>
        <th>Resolution</th>
        <th>Touch interface</th>
        <th>Scans</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        <%= render partial: 'row_field', collection: devices, as: :device %>
    </tbody>
</table>
