<h2>Schedule</h2>

<div class="lead">
    Keep track of pending, future and recurring scans.
</div>

<% if @schedules.any? %>
    <%= render 'table' %>
<% else %>
    <p class="alert alert-info">
        No scheduled scans.
    </p>
<% end %>
