<% if @site.scanned? %>
    <br/>
    <%= render partial: 'shared/issues_summary/filter' %>
    <hr/>

    <% if @issues_summary[:issues].any? %>
        <%= render partial: 'shared/issues_summary/statistics' %>

        <hr/>

        <div class="row">
            <div class="col-md-3 summary-sitemap-container" id="summary-sitemap">
                <%= render partial: 'shared/issues_summary/sitemap' %>
            </div>

            <div class="col-md-9 summary-issues-container" id="summary-issues">
                <%= render partial: 'shared/issues_summary/issues' %>
            </div>
        </div>
    <% else %>
        <p class="alert alert-info">
            No issues.
        </p>
    <% end %>
<% else %>
    <p class="alert alert-info">
        No scan has started yet...
    </p>
<% end %>
