<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row">
    <div id="scan-data" class="col-md-12">
        <%= render partial: 'shared/issues_summary' %>
    </div>
</div>
