<div class="row">
    <div id="sidebar" class="col-md-2">
        <%= render partial: 'sidebar' %>
    </div>

    <div id="scan-data" class="col-md-10">
        <%= render partial: 'shared/issues_summary' %>
    </div>
</div>
