<h1>

    <% if @site && !@scan %>
        Overview
    <% end %>

    <% if @revision %>
        <%= link_to @revision.index.ordinalize, [@site, @scan, @revision] %>
        revision of
    <% end %>

    <% if @scan && @scan.id %>
        <%= link_to @scan.name, [@site, @scan] %> scan
    <% end %>

    <% if @sitemap_entry %>
        <small>
            , showing
            <%= link_to_url_with_external(
                        external: @sitemap_entry.url,
                        internal: sitemap_entry_url( @sitemap_entry ),
                        display_path_only: true
                )
            %>
        </small>
    <% end %>
</h1>
