<% if @sitemap_entry %>
    <h1>
    <span class="text-muted fs-6">
        Showing for:
        <%= link_to_url_with_external(
                    external: @sitemap_entry.url,
                    internal: sitemap_entry_url( @sitemap_entry ),
                    display_path_only: true
            )
        %>

        <%= link_to filter_params_without_page,
                    title: 'Remove page filter' do %>

            <span class="text-muted fs-6">
                <i class="text text-danger fa fa-minus-circle"></i>
            </span>
        <% end %>
    </span>
    </h1>
<% end %>
