<% if schedule.start_at || schedule.recurring? %>
    <span class="schedule-info">
        &mdash; runs

        <% if schedule.start_at %>
            on <%= l schedule.start_at %>
        <% end %>

        <% if schedule.start_at && schedule.recurring? %>
            ;
        <% end %>

        <% if schedule.recurring? %>
            <%= render_frequency schedule %>
        <% end %>
        .
    </span>
<% end %>
