<%
   no_delete_button  = !!local_assigns[:no_delete_button]
%>

<div id="site-navbar">
      <%= render partial: 'sites/buttons', locals: {
        site: @site,
        no_delete_button: no_delete_button
      } %>

</div>
