<p>
    <%= scan.description %>
</p>

<p>
    <strong>Profile:</strong>
    <%= link_to scan.profile, scan.profile %>
</p>

<p>
  <strong>Plan:</strong>
</p>

<p>
    <strong>Schedule:</strong>
</p>

<h2><%= scan.revisions.size %> revisions</h2>

<%= render 'revisions/list', scan: scan %>
