<p>
    <strong>Name:</strong>
    <%= scan.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= scan.description %>
</p>

<p>
    <strong>Profile:</strong>
    <%= scan.profile %>
</p>

<p>
    <strong>Schedule:</strong>
</p>

