<%
   title 'Scans'
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
%>

<% content_for(:action_cable_channel, 'ScanChannel') %>

<div class="page-header">
    <h1>
        Scans

        <a title="New scan"
           class="btn btn-xs btn-primary"
           href="<%= new_site_scan_path(@site) %>">
            <i class="fa fa-plus"></i>
        </a>
    </h1>

    <div class="lead">
        Manage and monitor the state of all site scans.
    </div>
</div>

<%= render 'scans/tables', active_scans: @active_scans, suspended_scans: @suspended_scans,
                           finished_scans: @finished_scans, scheduled_scans: @scheduled_scans, site: @site %>
