<%
   title 'New'
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
   breadcrumb_add 'Scans', site_scans_path( @site )
%>

<h1>
    New scan
</h1>

<div class="row">
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
</div>
