<%
   title 'New scan'
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
%>

<% add_to_sidebar do %>
    <%= render 'sites/sidebar' %>
<% end %>

<h1>
    New scan
</h1>

<div class="row">
    <div class="col-md-12">
        <%= render 'form' %>
    </div>
</div>
