<% content_for(:action_cable_channel, 'ScanResultChannel') %>

<%
   title params[:action].capitalize
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
   breadcrumb_add 'Scans', site_scans_path( @site )
   breadcrumb_add @scan, site_scan_path( @site, @scan )
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row" id="scan-info">
    <div class="col-md-12">
        <div id="scan-info-container">
            <%= render partial: 'shared/scan_heading' %>
        </div>
    </div>
</div>

<div id="scan-results" class="row">
    <%= render 'shared/scan_results' %>
</div>
