<%
   title @scan.name
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @scan.url, site_path( @site )
   breadcrumb_add 'Scans', site_scans_path( @site )
%>

<div class="row">
    <div class="col-md-12" id="scan-info">
        <%= render partial: 'shared/scan_heading' %>

        <div class="description">
            <%= md @scan.description %>
        </div>

        <div class="text-muted">
            <%= render partial: '/shared/scan_info', locals: {
                    extended: true,
                    scan:     @scan
            } %>
        </div>
    </div>
</div>

<hr/>

<%= render partial: 'shared/scans_with_issue_summary' %>
