<%
   sections = {
       openai:   'OpenAI <small>&mdash; OpenAI settings</small>',
       scans:   'Scans <small>&mdash; Scan settings</small>',
       http:    'HTTP <small>&mdash; Network settings</small>',
       browser: 'Browser <small>&mdash; Browser settings</small>'
}
%>

<button class="btn btn-primary mb-2" onclick="$('.profile-form').submit()">
    Save
</button>

<hr/>

<div id="scrollspy-container">
    <ul class="nav nav-pills nav-stacked sidenav flex-column">
        <li class="nav-item">
            <a href="#top" class="nav-link scroll">
                <i class="fa fa-chevron-up"></i>
                Top
            </a>
        </li>
        <% sections.each do |id, title| %>
            <li class="nav-item">
                <a href="#<%= id.to_s %>" class="nav-link scroll">
                    <%= title.to_s.html_safe %>
                </a>
            </li>
        <% end %>
    </ul>
</div>
