<div class="page-header">
    <h1>Settings</h1>

    <div class="lead">
        Global configuration options to be applied to all scans.
    </div>

    <p class="alert alert-info">
        These options are for each individual scan, no resources will be shared
        between them.
    </p>
</div>


<div class="row">
    <div class="col-md-2">
        <%= render partial: 'sidebar' %>
    </div>
    <div class="col-md-10">
        <%= render 'form' %>
    </div>
</div>
