<table id="scans-active" class="table table-hover table-striped table-sm">
    <thead>
    <tr>
        <%= render partial: '/scans/tables/headings', locals: { with_status: true } %>
        <th></th>
    </tr>
    </thead>

    <tbody>
        <%= render partial: 'scans/tables/row_fields', collection: scans, as: :scan, locals: { site: site, with_status: true } %>
    </tbody>
</table>
