<div id="site-scans-schedule-pending">
    <%= render 'scans/tables/schedule/pending', scans: scheduled_scans, site: site %>

    <p class="alert alert-info">
        No pending scans.
    </p>
</div>
