<div id="site-scans-schedule-pending">
    <h3>Pending</h3>

    <% if @scheduled_scans.any? %>
        <%= render partial: 'scans/tables/schedule/pending' %>
    <% else %>
        <p class="alert alert-info">
            No pending scans.
        </p>
    <% end %>
</div>

<div id="site-scans-schedule-frozen">
    <h3>Frozen</h3>

    <% if @unscheduled_scans.any? %>
        <%= render partial: 'scans/tables/schedule/frozen' %>
    <% else %>
        <p class="alert alert-info">
            No frozen schedules.
        </p>
    <% end %>
</div>
