<div id="site-scans-schedule-pending">
    <% if @scheduled_scans.any? %>
        <%= render partial: 'scans/tables/schedule/pending' %>
    <% else %>
        <p class="alert alert-info">
            No pending scans.
        </p>
    <% end %>
</div>
