<div id="site-scans-schedule-pending">
  <% if scheduled_scans.any? %>
        <%= render 'scans/tables/schedule/pending', scans: scheduled_scans, site: site %>
    <% else %>
        <p class="alert alert-info">
            No pending scans.
        </p>
    <% end %>
</div>
