<table id="scans-suspended" class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <%= render partial: '/scans/tables/headings', locals: { with_status: false } %>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% scans.each do |scan| %>
        <tr>
            <%= render partial: '/scans/tables/row_fields',
                       locals: {
                               scan: scan,
                               with_status: false
                       } %>
        </tr>
    <% end %>
    </tbody>
</table>
