<table id="scans-schedule-pending" class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Starts at</th>
        <th>Stops after</th>
        <th>Frequency</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        <%= render partial: 'scans/tables/schedule/row_field', collection: scans, as: :scan, locals: { site: site } %>
    </tbody>
</table>
