<% info[:options].each do |option| %>
    <% next if option.type == 'path' %>

    <div class="row">
        <div class="col-md-12">
            <%= render partial: 'shared/plugin_options/option', locals: {
                    plugin_name: plugin_name,
                    option:      option,
                    value:       configuration[option.name.to_s],
                    disabled:    disabled
            } %>
        </div>
    </div>
<%end%>
