<% state = revision.performance_snapshot.http_average_response_time_state %>

<div class="chart-container col-md-4" id="health-server_responsiveness">
  <h3>
    Responsiveness
  </h3>

  <h4 class="text text-state-<%= state %> health-state">
    <%= state.capitalize %>
  </h4>

  <p class="text-muted health-description">
    <%= case state
          when :excellent
              'The server does not seem to be under any stress.'

          when :good
              'The server seems to be under a little stress, this ' +
              'will have a small impact on performance.'

          when :fair
              'The server seems to be under stress, this ' +
              'will have a considerable impact on performance.'

          when :poor
              'The server seems to be under a lot of stress, this ' +
              'will have a massive impact on performance.'
        end
      %>
  </p>
</div>
