/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "font-awesome";
@import "font-kit-rails/open-sans";
@import "**/*";

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.fa .badge, .tick {
    font-family: "Open Sans", sans-serif;
}

.with-list-info {
}

ul.list-info li {
    color:        #777777;
    list-style:   none;
    margin-left: -20px;
    margin-top:  -5px;
}

ul.list-info li span {
    margin-top:   3px;
    position:     absolute;
    padding-left: 3px;
}

ul.list-info li:before {
    content: "\02EA";
}

#loading {
    position: fixed;
    z-index:  2000;
    top:      0px;
    left:     0;
    height:   5px;
    width:    100%;
    display:  none;
}

#loading .progress-bar {
    width: 100%;
}

.CodeRay {
    height: 100%;
    width: 100%;
}

td.line-numbers {
    width: 0;
}

.breadcrumbs {
    margin-left: -1px;
    margin-bottom: -1px;
}
.breadcrumbs .bread {
    height: 27px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs .bread li {
    float: left;
    position: relative;
}
.breadcrumbs .bread li a {
    color: #888888;
    display: block;
    padding: 5px 10px;

    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.breadcrumbs .bread li a i {
    opacity: 0.3;
}
.breadcrumbs .bread li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.breadcrumbs .bread li a:hover i {
    opacity: 1;
}
.breadcrumbs .bread li a:after {
    content: "/";
    margin-left: 15px;
}
.breadcrumbs .bread li:last-child a:after {
    content: "";
}
.breadcrumbs .bread li.active a {
    color: #FFFFFF;
}

.anchor {
    position: absolute;
    left: -0.5em;
    opacity: 0;

    -moz-user-select: none;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    text-rendering: auto;

    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    opacity: 1;
}

.card-header:hover .anchor {
    opacity: 1;
}

li .fa-arrow-right {
    float: right;
}

#sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 43px;
    z-index: 1000;

    .nav {
        margin-bottom: 20px;
        margin-left: -11px;
        margin-right: -11px;
    }

    .nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav > .active > a,
    .nav > .active > a:hover,
    .nav > .active > a:focus {
        background-color: #428bca;
        color: #fff;
    }
}

#sidebar li {
    margin: 0;
}

#sidebar li.sidebar-info {
    margin-left: 10px;
}

#sidebar .nav li.active .text-muted {
    color: white;
}

#sidebar li .badge {
    float: right;
}

#sidebar li .fa-arrow-right {
    float: right;
    padding-left: 5px;
}

.input-help {
    margin-top: 5px;
}

.checkbox-help {
    margin-top: 8px;
}

.textarea-help {
    margin-top: 25px;
}

form {

    .form-control {
        display: inline;
    }

    label {
        padding: 0;
        float: left;
    }

    .help-block {
        clear: both;
    }

    input {
        float: right;
    }

    input.numeric {
        width: 120px;
        margin-top: 5px;
    }

    input.string {
        width: 80%;
    }

    .form-actions input.btn {
        float: left;
    }

}

div.vertical-line {
    border-left: 2px solid #ccc;
    height: 40px;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 35px;

    span {
        padding-left: 10px;
    }
}

div.vertical-line:first-child {
    visibility: hidden;
    height: 10px;
}

i.fa-external-link {
    font-weight: bold;
    padding-left: 3px;
    padding-right: 5px;
}
