#issues {

    table.key-values {
        table th {
            text-align: right;
        }

        table th.top {
            text-align: center;
        }
    }

    table th.top {
        text-align: center;
        border-top: none;
    }

    table#parameters {
        tr:first-child{
            td, th {
                padding-top: 0;
                border-top: none;
            }
        }
    }

    .table tr.request-transition td:nth-child(2) {
        padding-left: 30px;
    }

    #table-container {
        margin-left: 10px;
    }

    #browser_body_container, #http_response_container {
        overflow: scroll;
        height: 400px;
        position: relative;

        .proof {
            color: red;
            font-weight: bold;
        }
    }

    iframe.rendered-response {
        width: 100%;
        height: 100%;
        border:  none;
    }

    .repeat-request-btn {
        margin-top: 8px;
        margin-left: 10px;
    }

    .accordion-group {
        border: 0px;
        border-bottom: 1px solid #E5E5E5
    }

    .code-container {
        overflow-x: auto;
        max-height: 300px;
        position:   relative;
    }

    .proof {
        color: red;
        font-weight: bold;
    }

    .data-dump {
        overflow-x: auto;
        max-height: 400px;
        position:   relative;
    }

    .highlight-container {
    }

    .highlight {
        background-color: yellow;
        font-weight: bold;
    }

    table.vector-inputs > thead > tr > th {
        text-align: center;
    }

    table.vector-inputs > tbody > tr > td {
        border-right: 1px solid #E5E5E5;
    }

    tr.inspection {
        display: none;
    }

    tr.inspection > th, tr.inspection > td {
        border: 0px;
    }

    tr.inspection th,
    tr.inspection td,
    ul.nav-tabs li.active a {
        background-color: #f5f5f5
    }

    .diff-container {
        max-height: 500px;
    }

    .diff {
        min-width: 100%;
    }

    .diff-addition {
        background-color: #eaffea;
    }

    .diff-deletion {
        background-color: #ffecec;
    }

    .diff-unchanged {
    }
}

#summary-data {
}

#issue-summary-filter-actions {
    text-align: center;

    label {
        text-decoration: line-through;
    }

    .check_boxes {
        display: none;
    }

    .check_boxes:checked + label {
        font-weight: bold;
        text-decoration: none;
    }
}

.edit_issue {
    font-family: 'FontAwesome', 'Open Sans', sans-serif
}

ul.sitemap {
    list-style: none;
    padding-left: 0;
}

ul.sitemap > li {
    display: block;
    padding: 5px 15px;
    position: relative;
}

ul.sitemap > li .badge {
    float: right
}

ul.sitemap > li:hover, ul.sitemap > li:focus {
    background-color: #eeeeee;
    text-decoration: none;
}

ul.sitemap > li.active {
    background-color: #337ab7;
    color: white;

    ul li, a {
        color: white;
    }
}

