// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-form {

    .form-control {
        display: inline
    }

    label {
        padding: 0;
        float: left;
    }

    .help-block {
        clear: both
    }

    input {
        float: right;
    }

    input[type="checkbox"] {
        position: relative;
        right: 15px;
    }

    input#profile_plugins, input#profile_checks {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }

    #profile_name {
        display: block;
        float: left;
        clear: both;
    }

    #profile_description {
        width: 100%;
        height: 150px;
    }

    #profile_scope_restrict_paths {
        width:  100%;
        height: 150px;
    }

    #profile_scope_extend_paths {
        width:  100%;
        height: 150px;
    }

    #profile_scope_exclude_path_patterns {
        width:  100%;
        height: 150px;
    }

    #profile_scope_exclude_content_patterns {
        width:  100%;
        height: 150px;
    }

    #profile_scope_include_path_patterns {
        width:  100%;
        height: 150px;
    }

    #profile_checks {
        display: inline;
    }

    #profile_http_response_max_size {
        width:  20%;
    }

    #profile_audit_exclude_vector_patterns {
        width:  100%;
        height: 150px;
    }

    #profile_audit_include_vector_patterns {
        width:  100%;
        height: 150px;
    }

    #profile_session_check_url {
        width:  90%;
        float: left;
    }

    #profile_session_check_pattern {
        width:  90%;
        float: left;
    }

    #checks, #plugins {
        .panel-heading:nth-child(even) {
            background-color: #E9E9E9;
        }
        .panel-heading {
            border: 0px;
        }

        input[type="checkbox"] {
            top: -20px;
        }

        .panel-title {
            cursor: pointer;
        }
    }

    .numeric {
        width: 100px;
        margin-top: 5px;
    }

    .form-actions input.btn {
        float: left;
    }

}
