// Place all the styles related to the Revisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#revision-info {
    padding-bottom: 10px
}

#coverage {
    ul li {
        list-style-type: none;
        padding-right: 20px;
        float:   left;
        display: inline;
        width:   50%;
        word-wrap: break-word;

        code {
            float: left;
            width: 43px;
            margin-right: 5px;
        }
    }

    .progress {
        .progress-bar {
            span {
                font-weight: bold;
            }
        }
    }

    .coverage-bar {
        cursor: pointer;
    }

    .coverage-bar:hover {
        opacity: 0.8;
    }
}
