// Place all the styles related to the Scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.scan-form {

    label {
        padding-right: 10px;
    }

    input.boolean {
        float: right;
    }
    label.boolean {
        float: left;
    }

    .scan_name, #scan_name,
    .scan_schedule_frequency_cron, #scan_schedule_attributes_frequency_cron,
    .scan_path, #scan_path,
    .scan_site_role, #scan_site_role_id,
    .scan_profile, #scan_profile_id,
    .scan_device, #scan_device_id,
    .scan_description, #scan_description {
        width: 100%;
    }

    .scan_description, #scan_description {
        height: 140px;
    }

    #scan_schedule_attributes_start_at_1i {
        width: 100px;
    }

    #scan_schedule_attributes_start_at_2i {
        width: 100px;
    }

    #scan_schedule_attributes_start_at_3i {
        width: 100px;
    }

    #scan_schedule_attributes_start_at_4i {
        width: 100px;
    }

    #scan_schedule_attributes_start_at_5i {
        width: 100px;
    }

    #scan_schedule_attributes_stop_after_hours {
        width: 75px;
    }

}

#site-scans {
    border-right: 1px solid #eeeeee;
}

#scan-info {
    padding-bottom: 10px;
}

#scan-data {
    border-left: 1px solid #eeeeee;
}

.scan-name {
    font-weight: bold;
    font-size: 20px;
}

#sidebar-scan {
    text-align: center;

    .buttons {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Display/hide table/alert message based on the content of the table.
#site-scans-active,
#site-scans-suspended,
#site-scans-finished,
#site-scans-schedule-pending {
  &:not(:has(table tbody tr)) {
    table {
        display: none;
    }
  }

  &:has(table tbody tr) {
    .alert {
        display: none;
    }
  }
}
