// Place all the styles related to the GlobalProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.setting_max_parallel_scans_auto {
    float:         right;
    padding-right: 10px
}

#settings-apikey-input-container {
    display: none
}

#settings-openaikey-remove-button-container {
    float: right
}

#settings-openai-apikey {
    float: right
}
