// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site-verification-code {
    width:  100%;
    height: 100px;
}

#summary-statistics, #summary-charts {
    text-align: center;
}

.summary-sitemap-container {
    word-wrap: break-word;
}

#chart-issues {
    margin-left: -40px
}

#site_port {
    width: 75px;
}

#site-navbar {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

#site-info {
    padding-bottom: 10px
}

table .site-favicon {
    float:        left;
    margin-right: 5px;
    line-height:  18px;
}

i.site-favicon {
    padding: 0;
    margin:  0
}

.site-favicon {
    width:       16px;
    height:      16px;
    font-size:   16px;
    line-height: 16px;
}

p.site-name {
    font-size: 15px;
}