// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site-verification-code {
    width:  100%;
    height: 100px;
}

#summary-statistics, #summary-charts {
    text-align: center;
}

.summary-sitemap-container {
    border-right: 1px solid #eeeeee;
    word-wrap:    break-word;
}

.highlight {
    background-color: grey;
}
