// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-form {
    .site_profile_platforms {
        label {
            clear: both;
            font-weight: normal;
            padding-left: 20px;

            input {
                margin-left: 10px;
            }
        }

        .check_boxes {
            display: none;
        }

        .check_boxes:checked + label {
            font-weight: bold;
        }
    }

    #site_profile_attributes_input_values {
        width:  100%;
        height: 250px;
    }

    #site_profile_audit_mode {
        width: 150px;
        float: right;
    }

    #site_profile_attributes_scope_exclude_file_extensions,
    #site_profile_attributes_scope_exclude_path_patterns,
    #site_profile_attributes_scope_exclude_content_patterns,
    #site_profile_attributes_scope_extend_paths,
    #site_profile_attributes_scope_template_path_patterns,
    #site_profile_attributes_audit_link_templates,
    #site_profile_attributes_scope_url_rewrites,
    #site_profile_attributes_http_cookies,
    #site_profile_attributes_http_request_headers,
    #site_profile_attributes_dom_wait_for_elements {
        width:  100%;
        height: 150px;
    }
}
