<h2>
    User roles

    <%= link_to new_site_role_path(@site),
                remote: true,
                title: 'New scan',
                class: 'btn btn-xs btn-primary' do %>
        <i class="fa fa-plus"></i>
    <% end %>
</h2>

<div class="lead">
    Use web application roles to perform scans as users with different levels of access.
</div>

<%= render partial: 'table' %>
