#health {
    .row {
        text-align: center;
    }

    .c3-circle {
        visibility: hidden
    }

    .chart-container {
        padding-left: 10px;
        width: 19%;
        display: inline;
        position: relative;
        float: left;
        //min-height: 180px
    }

    #current_http_time_out_count {
        //.c3-chart-arcs-gauge-min,
        //.c3-chart-arcs-gauge-max {
        //    display: none
        //}
    }

    #current_http_request_count {
        .c3-chart-arcs-gauge-min,
        .c3-chart-arcs-gauge-max,
        .c3-shape,
        .c3-chart-arcs-background {
            display: none
        }
    }

    #current_browser_job_count {
        .c3-chart-arcs-gauge-min,
        .c3-chart-arcs-gauge-max,
        .c3-shape,
        .c3-chart-arcs-background {
            display: none
        }
    }

}
