<div id="summary-charts-issues-container">
    <canvas id='chart-issues' height=250>
    </canvas>
</div>

<script>
    <%= render partial: 'shared/scan_results/issues/chart_load_data',
        formats: :js,
        locals: {
            data: data
        } %>
</script>
