<div id="configuration-device">
    <h2>
        Device:

        <small>
            <%= link_to @scan.device, device_path( @scan.device ) %>

            &mdash;

            Frozen
        </small>
    </h2>
</div>
