<div class="mt-3" id="configuration-device">
    <h2>
        Device:

        <span class="text-muted fs-6">
            <%= link_to @scan.device, device_path( @scan.device ) %>

            &mdash;

            Frozen
        </span>
    </h2>
</div>
