<div id="configuration-profile">
    <h2>
        Profile:

        <small>
            <%= link_to @scan.profile, profile_path( @scan.profile ) %>

            &mdash;

            Frozen
        </small>
    </h2>

    <div class="text text-muted">
        <%= md @scan.profile.description %>
    </div>
</div>
