<div id="configuration-user_agent">
    <h2>
        User agent:

        <small>
            <%= link_to @scan.user_agent, user_agent_path( @scan.user_agent ) %>

            &mdash;

            Frozen
        </small>
    </h2>
</div>
