<%= render partial: 'sites/summary/charts' %>

<div class="row">
    <div class="col-md-4">
        <h2>Sitemap</h2>

        <%= render partial: 'sites/summary/sitemap' %>
    </div>

    <div class="col-md-8">
        <h2>Issues</h2>

        <%= render partial: 'sites/summary/issues' %>
    </div>
</div>
