<%= render partial: 'sites/summary/statistics' %>

<hr/>

<div class="row">
    <div class="col-md-3 summary-sitemap-container">
        <h3>
            Pages with issues

            <span class="badge">
                <%= @site.sitemap_entries.with_issues.size %>
            </span>
        </h3>
        <%= render partial: 'sites/summary/sitemap' %>
    </div>

    <div class="col-md-9 summary-issues-container">
        <%= render partial: 'sites/summary/issues' %>
    </div>
</div>
