<%= render partial: 'sites/summary/charts' %>

<hr/>

<div class="row">
    <div class="col-md-4 summary-sitemap-container">
        <%= render partial: 'sites/summary/sitemap' %>
    </div>

    <div class="col-md-8 summary-issues-container">
        <%= render partial: 'sites/summary/issues' %>
    </div>
</div>
