<table class='table table-hover table-striped' id='sites-table'>
    <thead>
        <tr>
            <th>URL</th>
            <th>State</th>
            <th>Issues</th>
            <th>Scans</th>
            <th>Revisions</th>
            <th>Last scanned</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: 'site', collection: sites, as: :site %>
    </tbody>
</table>
