<%
   title 'Settings'
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
%>

<div class="page-header">
    <h1>
        Settings
    </h1>

    <div class="lead">
        Settings to be applied to all scans for this site.
    </div>

    <p class="alert alert-info">
        Please take the time to provide as much information as possible, in order
        to increase the efficiency of the scanning process.
    </p>
</div>

<% add_to_sidebar do %>
    <%= render partial: 'sites/profile/sidebar' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= render 'sites/profile/form' %>
    </div>
</div>
