<h1>Editing <%= link_to @site, @site %></h1>

<%= render 'edit_form' %>

<div class="row">
    <div class="col-md-12">
        <%= link_to 'Show', @site %> |
        <%= link_to 'Back', sites_path %>
    </div>
</div>
