<h1>Sites</h1>

<% @sites.each do |site| %>
    <h2>
        <%= link_to site.url, site %>

        <small>
            <%= link_to 'Edit', edit_site_path( site ) %> -
            <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
    </h2>
<% end %>

<%= link_to 'New Site', new_site_path %>
