<h1>Sites</h1>

<div id="owned-sites">
    <h2>
        Yours

        <small>
            <%= link_to 'New', new_site_path %>
        </small>
    </h2>

    <%= render 'list', sites: @sites, show_actions: true %>
</div>

<% if @shared_sites.any? %>
    <div id="shared-sites">
        <h2>Shared</h2>

        <%= render 'list', sites: @shared_sites %>
    </div>
<% end %>
