<% content_for(:action_cable_channel, 'ScanResultChannel') %>

<%
   title params[:action].capitalize
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site, site_path( @site )
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row" id="site-info">
    <div class="col-md-12">
        <div id="site-info-container">
            <%= render partial: 'shared/scan_heading' %>
        </div>
    </div>
</div>

<div id="scan-results" class="row">
    <%= render 'shared/scan_results' %>
</div>
